---
title: Casa Bistrô Post Maker
layout: bistro
id: home
style: bistro
---
<article>
<section class="cards">

	<div class="wrapper">
		<div class="row">
			<div class="col-md-6">
				<div class="row">
					<div class="col-md-12 header">
						<h1>Casa Bistrô</h1>
						<h2>Menu Maker <small>Beta</small></h2>
					</div>
				</div>

				<div class="row">
					<div class="col-md-6">
						<h4>Versão do cardápio</h4>
						<div class="form-group">
							<select class="form-control form-control-sm" id="menuType">
						      <option selected="selected" value="3">3 pratos</option>
						      <option value="4">4 pratos (3 + pocket)</option>
						    </select>
						</div>
					</div>
					<div class="col-md-6">
						<h4>Dia da semana</h4>
						<div class="form-group">
							<select class="form-control form-control-sm" id="weekDay">
						      <option selected="selected" value="mon">Segunda-feira</option>
						      <option value="tue">Terça-feira</option>
						      <option value="wed">Quarta-feira</option>
						      <option value="thu">Quinta-feira</option>
						      <option value="fri">Sexta-feira</option>
						    </select>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-md-12">
						<ul class="nav nav-tabs mtop15" id="dishesTabs" role="tablist">
						  <li class="nav-item">
						    <a class="nav-link active" id="dish01-link" data-toggle="tab" href="#dish01" role="tab" aria-controls="dish01" aria-selected="true">Prato 1</a>
						  </li>
						  <li class="nav-item">
						    <a class="nav-link" id="dish02-link" data-toggle="tab" href="#dish02" role="tab" aria-controls="dish02" aria-selected="false">Prato 2</a>
						  </li>
						  <li class="nav-item">
						    <a class="nav-link" id="dish03-link" data-toggle="tab" href="#dish03" role="tab" aria-controls="dish03" aria-selected="false">Prato 3</a>
						  </li>
						  <li class="nav-item quartet-only">
						    <a class="nav-link" id="dish04-link" data-toggle="tab" href="#dish04" role="tab" aria-controls="dish04" aria-selected="false">Prato Pocket</a>
						  </li>
						</ul>
					</div>
				</div>

				<div class="row" style="margin: 0 15px">

					<div class="tab-content col-md-12" id="pills-tabContent">
					  	<div class="tab-pane fade show active" id="dish01" role="tabpanel" aria-labelledby="dish01-tab">
					  		{% include content/dish01.html %}
					  	</div>
					  	<div class="tab-pane fade" id="dish02" role="tabpanel" aria-labelledby="dish02-tab">
					  		{% include content/dish02.html %}
					 	 </div>
					  	<div class="tab-pane fade" id="dish03" role="tabpanel" aria-labelledby="dish03-tab">
					  		{% include content/dish03.html %}
					 	 </div>	
					  	<div class="tab-pane fade" id="dish04" role="tabpanel" aria-labelledby="dish03-tab">
					  		{% include content/dish04.html %}
					  	</div>	
					</div>
				</div>

				<div class="row mtop15">
					<div class="col-md-12">
						<p class="helper">
							<strong>&lt;b&gt;&lt;/b&gt; - negrito</strong><br />
							<em>&lt;i&gt;&lt;/i&gt; - itálico</em>
						</p>
					</div>
					<div class="col-md-6">
						<div class="form-group form-check mtop15 trio-only">
						    <input type="checkbox" class="form-check-input" id="bannerSalad" checked="checked">
						    <label class="form-check-label" for="bannerSalad">Incluir banner da salada</label>
					  	</div>
					</div>
					<div class="col-md-6">
						<a href="#" class="btn btn-primary btn-lg float-right" role="button" id="spitImg">Gerar imagem</a>
					</div>
				</div>

				
			</div>

			<div class="col-md-6">
				<div class="menu-container" id="myMenu">
					<div class="logo">
						<div class="leaves"></div>
					</div>
					<div id="day" class="mon"></div>

					<!--dishes-->
					<div class="dishes">
						
						<!--dish 1-->
						<div class="dish dish-1">
							<h3 class="title">
								<strong class="number">1</strong> 
								<span class="content" data-bind="title">Carne bovina cozida com ervas</span>
							</h3>
							<div class="prices">
								<div class="price normal">
									<span class="flag">N</span> <span class="content price-n"><span data-bind="price-n">17,00</span></span>
								</div>
								<div class="price pocket trio-only">
									<span class="flag">P</span> <span class="content price-p"><span data-bind="price-p">14,00</span></span>
								</div>
							</div>
							<p class="description" data-bind="description">Cozida lentamente e desfiada com especiarias, cenoura e ervas frescas ♥</p>
							<p class="side">
								<strong>Acompanha:</strong> 
								<span class="content" data-bind="side">arroz integral*, feijão carioca* e repolho refogado com ervas frescas.</span> <span class="banner trio-only" data-bind="warning">*Exceto na <strong>Pocket</strong> (sem arroz e feijão)</span>
							</p>
						</div>

						<!--dish 2-->
						<div class="dish dish-2">
							<h3 class="title">
								<strong class="number">2</strong> 
								<span class="content" data-bind="title">Bolinho de legumes</span>
							</h3>
							<div class="prices">
								<div class="price normal">
									<span class="flag">N</span> <span class="content price-n"><span data-bind="price-n">17,00</span></span>
								</div>
							</div>
							<p class="description" data-bind="description">Com a nossa maionese feita artesanalmente com óleo de girassol, mostarda e cheiro verde.</p>
							<p class="side">
								<strong>Acompanha:</strong> 
								<span class="content" data-bind="side">arroz integral, feijão carioca e repolho refogado com ervas frescas.</span>
							</p>
						</div>

						<!--dish 3-->
						<div class="dish dish-3">
							<h3 class="title">
								<strong class="number">3</strong> 
								<span class="content" data-bind="title">Salmão assado</span>
							</h3>
							<div class="prices">
								<div class="price normal">
									<span class="flag">N</span> <span class="content price-n"><span data-bind="price-n">17,00</span></span>
								</div>
							</div>
							<p class="description" data-bind="description">Com rodelasdadasdas de limão e a nossa maionese feita artesanalmente com óleo de girassol, mostarda e cheiro verde.</p>
							<p class="side">
								<strong>Acompanha:</strong> 
								<span class="content" data-bind="side">arroz integral, feijão carioca e repolho refogado com ervas frescas.</span>
							</p>
						</div>

						<!--dish 4-->
						<div class="dish dish-p quartet-only">
							<h3 class="title">
								<strong class="number pocket">P</strong> 					
								<span class="content">
									<small>Pocket</small>
									<strong data-bind="title">Salmão assado</strong>
								</span>
							</h3>
							<div class="prices">
								<div class="price pocket">
									<span class="flag">P</span> <span class="content price-p"><span data-bind="price-p">14,00</span></span>
								</div>
							</div>
							<p class="description" data-bind="description">Com mostarda e cheiro verde.</p>
							<p class="side">
								<strong>Acompanha:</strong> 
								<span class="content" data-bind="side">repolho refogado com ervas frescas.</span>
							</p>
						</div>

					</div>
					<!--//end dishes-->

					<div class="menu-footer">
						<div class="banner salad trio-only">
							<div class="left-lettuce"></div>
								Leve uma <strong>salada verde</strong> por mais <strong>R$ 3</strong>
							<div class="right-lettuce"></div>
						</div>
						<div class="banner whatsapp">
							<div class="whatsapp-logo"></div>
							<mark>Whatsapp</mark> <span>(15) 3014-7177</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

</section>
</article>
{% include modal/modal-loading.html %}