<div class="row">
	<div class="col-md-12">
		<div class="form-group">
		    <label for="orderingType">Título do prato 2</label>
		    <button type="button" class="btn btn-secondary btn-xs btn-heart"><i class="fa fa-heart"></i></button>
		    <input type="text" class="form-control form-control-sm bind-me" value="" name="dish-2 title" maxlength="50">
		</div>
	</div>
	<div class="form-group col-md-12">
	    <label for="orderingType">Descrição do prato 2</label>
	    <button type="button" class="btn btn-secondary btn-xs btn-heart"><i class="fa fa-heart"></i></button>
	    <textarea class="form-control bind-me" maxlength="140" rows="2" name="dish-2 description"></textarea>
	</div>
	<div class="form-group col-md-12">
	    <label for="orderingType">Acompanhamentos do prato 2</label>
	    <textarea class="form-control bind-me" maxlength="140" rows="2" name="dish-2 side"></textarea>
	</div>
	<div class="form-group col-md-6">
	   <label for="orderingType">Preço Normal</label>
	    <input type="text" class="form-control form-control-sm bind-me" value="" name="dish-2 price-n" maxlength="5">
	</div>
</div>