<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#FFFFFF" />

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">

    <title>{{page.title}}</title>
    {% include styles.html %}
  </head>
  <body id={{page.id}} class="{{page.style}}" data-spy="scroll" data-target="navSpy">
    
      

        <div class="main">
            {{ content }}
        </div>
        
      

      {% include scripts.html %}
  </body>
</html>
